# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Databases
*.sqlite3
*.db

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
